
.navim{
    width: 100%;
    position: relative;

}

.nav-pos{
    position: absolute;
    top:0px;
    left:0px;
    right:0px
}

/* .mtop{
    margin-top: 4rem;
} */

.navtext{
    color: white;
}





.navbtn{
    
    
    display: inline-block;
    outline: 0;
    border: 0;
    background-image: linear-gradient(to right,#e052a0,#f15c41);
    cursor: pointer;
    border-radius: 2px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    font-size: 14px;
}

.navbtn:hover {
    background-image: linear-gradient(to right,#3ec7e0,#526bf4);
}


.cardbtn {
    width: 150px;
    margin: 10px;
    padding: 15px 20px; /* Decreased the width by changing the padding */
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.cardbtn:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.cardbtn:active {
    transform: scale(0.95);
}


.cardimg{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 0px auto;
}

.card-pos{
    margin-top: -90px; 
}

.custom-tooltip {
    background-color: #4D3C77; /* Change the background color */
    color: #FFF; /* Change the text color */
    border: 2px solid #E74C3C; /* Change the border color and size */
    border-radius: 5px; /* Round the corners */
    padding: 5px 10px; /* Adjust the padding for spacing */
    font-size: 14px; /* Change the font size */
    /* Add more custom styles as needed */
  }
  

.modal-style{
    color:white;
    background-image: linear-gradient(to right,#3ec7e0,#e05b98)
}
@media screen {
    
}